.common-calendar {
  .square {
    width: 16px;
    height: 16px;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 8px;
    &.blue {
      background-color: #43A5F3;
    }
    &.yellow {
      background: #FEA62A;
    }
  }
  .square-label {
    color: #242421;
    font-size: 14px;
    margin-right: 23px;
  }
  .rbc-day-slot {
    .rbc-events-container {
      width: 100%;
    }
    .rbc-timeslot-group:nth-of-type(10) {

      border-bottom: 0;

    }

  }
  .rbc-day-slot.rbc-time-column {
    .rbc-timeslot-group:last-of-type {
      background-color: red;
    }
  }
  .rbc-timeslot-group:last-of-type {
    border-bottom: 0;
  }
  .rbc-event {
    padding: 0;
    display: flex;
    //align-items: center;
    background-color: transparent;
    border: 0;
    //padding-bottom: 0;
    .rbc-event-label {
      display: none;
    }
    .rbc-event-content {
      width: 100%;
      .content {
        background-color: #E43935;
        border-radius: 2px;
        padding: 2px 5px;
        height: 100%;
        p {
          margin: 0;
          height: 100%;
        }
      }
    }
  }
  .rbc-toolbar-label {
    text-transform: capitalize;
  }
  .rbc-calendar {
    font-family: "BlissPro", sans-serif;
  }
  .label-day {
    font-size: 18px;
    color: #242421;
    text-transform: capitalize;
  }
  .rbc-date-cell {
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;
    padding-left: 5px;
    > a {
      float: left;
    }
  }

  .rbc-month-view, .rbc-time-view, .rbc-day-view {
    background-color: #fff;
    border-radius: 12px;
  }

  .rbc-month-header {
    height: 50px;
    text-transform: capitalize;
    .rbc-header{
      border-bottom: 1px solid lightgray;
    }
  }
  .rbc-time-header-content {
    border-left: 0;
  }

  .rbc-header {
    font-size: 16px;
    text-align: left;
    padding-top: 21px;
    font-weight: normal;
    padding-left: 5px;
    color: rgba(36, 36, 33, .54);
    border-bottom:0;
    + .rbc-header {
      border-left: 0;
    }
  }

  .rbc-today {
    background-color: rgba(0, 117, 94, .08);

  }

  .rbc-date-cell {
    &.rbc-now {
      color: #00755E;
    }
  }

  .rbc-off-range-bg {
    background: transparent;
    &:last-of-type {
      border-bottom-right-radius: 11px;
    }
  }
  .rbc-timeslot-group:first-of-type{
    .rbc-label{
      display: none;
    }
  }
  .rbc-timeslot-group{
    .rbc-time-slot{
      .rbc-label{
        font-family: "BlissPro", sans-serif;
        color:rgba(36,36,33,.6);
        background-color: white;
        position: relative;
        top: -10px;
        width: 100%;
      }
    }
  }
  .rbc-time-slot {
    display: flex;
    border-bottom: 0;
    .rbc-label {
      font-size: 13px;

    }
  }
  .rbc-show-more {
    height: 24px;
    .link {
      color: #242421;
      font-size: 13px;
      border-bottom: 1px solid rgba(36, 36, 33, .2);
      width: max-content;
      margin-left: 8px;
      transition: border-bottom .2s;
      &:hover {
        border-bottom: 1px solid rgba(36, 36, 33, .6);
      }
    }
  }
  .toggler {
    > span > span > span {
      background-color: #00755E !important;
    }
    > span:nth-of-type(2) {
      background-color: #00755E !important;

    }
  }
  .rbc-allday-cell {
    display: none;
  }
}