.header{
  background-color: #006652 !important;
  color: #fff !important;
  font-size: 16px;
  font-family: "BlissPro",sans-serif !important;
  padding: 0 14px 0 14px!important;
  min-height:56px !important;
  box-shadow: none !important;
  .btn-group{
    margin-left: 0;
    margin-right: auto;
    @media (min-width: 991px) {
      margin-right: 4rem;
      margin-left: auto;

    }
  }
  span{
    //font-size:24px;
  }
  a{
    color: #fff;
    font-family: "BlissPro",sans-serif;
    font-size: 14px;
  }
  a.brand{
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
  }
  a.active{
    color: rgba(255,255,255,0.6);
  }
  .header__nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    &.header__nav_small{
      padding-left: 153px;
      padding-right: 153px;
    }
    a{
      text-transform: uppercase;
    }
  }
  &__input{
    color: #fff !important;
    font-size:16px !important;
    width: 100px;
    border:none !important;
    &:after{
      background-color: white !important;
    }
    &:before{
       background-color: white !important;
     }
  }
}