.paper{
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px !important;
}
.paper__info{
  padding: 24px;
  font-size: 16px;
  align-items: center;
  i{
    width: 10px;
    display: initial;
    margin-right: 21px;
    color: #918F8A;
  }
  a{
   color: #00755E;
  }
  a:hover{
    text-decoration: underline;
  }
  img{
    border-radius: 100%;
    text-align: center;
  }
  div{
    display: flex;
    align-self: center;
  }
}