.paper {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px !important;
}
.trainer{
  border-bottom:1px solid rgba(36,36,33,0.2);
  transition:all 0.2s;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}
.trainer:hover {
  border-bottom: 1px solid rgba(36, 36, 33, 1);
  transition: all 0.2s;
}
.paper__info {
  padding: 24px;
  font-size: 16px;
  align-items: center;
  i {
    width: 10px;
    display: initial;
    margin-right: 21px;
    color: #242421;
    opacity: 0.3;
    line-height: 0.5;
  }
  a {
    color: rgba(36,36,33,1);
    border-bottom:1px solid rgba(36,36,33,0.2);
    transition:all 0.2s;
    padding-top: 4px;
    padding-bottom: 4px;
    }

  a:hover {
    border-bottom:1px solid rgba(36,36,33,1)

  }

  img {
    border-radius: 100%;
    text-align: center;
  }
  div {
    display: flex;
    align-self: center;
  }
}
.sportsmen_contact{
  font-size: 14px;
}
.main-section{
  padding: 32px 168px 64px;
}
.quoting{
  font-style: italic;
  font-size: 16px !important;
  padding-left: 16px;
  position: relative;
  margin-bottom: 32px !important;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    height:100%;
    left:0;
    width:2px;
    background-color:#00755E
  }
}