.select-root {
  font-size: 14px !important;
  padding: 13px 40px 10px 17px !important;
  background-color: #e0e0e0 !important;
  height: 15px !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}
.select-icon{
  top: 7px !important;
  right: 8px !important;
}