.table__title {
  padding-bottom: 11px !important;
  padding-top:24px !important;
  color: #918F8A;
  font-size: 20px;
  h3 {
    font-weight: normal;
    font-family: "BlissPro",sans-serif;
  }

}
.d-none{
  display: none;
}
.paper_w_table {
  padding-top: 11px !important;
}

.table {
  font-family: "BlissPro",sans-serif;
  //height: 104px;
  background-color: #fff;
  border-radius: 12px;
  &.fs-13{

    th{
      font-size: 13px;

    }
    td{
      font-size: 13px;

    }
  }
  th {
    padding: 22px 12px 20px 12px;
    color: #918F8A;
    height: 55px;
    white-space: nowrap;
    font-size: 14px;
    :first-of-type {

    }
  }
  td {
    padding: 16px 12px 16px 12px;
    font-size: 16px;
    color: #242421;
    a{
      color: #242421;
      border-bottom: 1px solid rgba(36,36,33,.3);
      transition: all .2s;
      &:hover{
        color: #00755E;
        text-decoration: none;
        border-bottom: 1px solid rgba(36,36,33,.6);
      }
    }
  }
  .table_w_icon i{
    width: 10px;
    color:#918F8A
  }
  &.no-bottom tbody{
     tr:last-of-type{
       td{
         border-bottom: none;
       }
     }
   }
}
.table_sportsman {
   font-family: "BlissPro",sans-serif;
   //height: 104px;
   background-color: #fff;
   border-radius: 12px;
   th {
     padding: 30px 10px 22px 12px;
     color: #918F8A;
     height: 55px;
     white-space: nowrap;
     font-size: 14px;
     :first-of-type {

     }
   }
   td {
     padding: 8px 10px 8px 12px;
     font-size: 14px;
     color: #242421;
   }
   .table_w_icon i{
     width: 10px;
     color:#918F8A
   }
  button{
    font-size: 24px !important;
    color:rgba(36,36,33,0.54);
  }
 }
.table_stats {
   font-family: "BlissPro",sans-serif;
   background-color: #fff;
   border-radius: 12px;
   th {
     padding: 30px 10px 22px 12px;
     color: #918F8A;
     height: 55px;
     white-space: nowrap;
     font-size: 14px;
     &:first-of-type {
      padding-left: 24px;
     }
   }
   td {
     padding: 8px 10px 8px 12px;
     font-size: 14px;
     color: #242421;
     &:first-of-type {
       padding-left: 24px;
     }
   }

  &.no-bottom tbody{
    tr:last-of-type{
      td{
        border-bottom: none;
      }
    }
  }
   .table_w_icon i{
     width: 10px;
     color:#918F8A
   }
  button{
    font-size: 24px !important;
    color:rgba(36,36,33,0.54);
  }
 }
.sportsman_table_footer {
  font-size: 13px !important;
}

.minicard {
  @extend .table_stats;
  tr {
    height: auto;
  }
  th, td {
    border: 0;
    height: auto;
    padding: 2px 12px;
    vertical-align: top;
  }
}
