.table__title {
  padding-bottom: 11px !important;
  padding-top:24px !important;
  color: #918F8A;
  font-size: 20px;
  h3 {
    font-weight: normal;
    font-family: BlissPro,sans-serif;
  }

}

.paper_w_table {
  padding-top: 11px !important;
}

.table {
  font-family: BlissPro, sans-serif;
  //height: 104px;
  background-color: #fff;
  border-radius: 12px;
  th {
    padding: 22px 0px 20px 12px;
    color: #918F8A;
    height: 55px;
    white-space: nowrap;
    font-size: 14px;
    :first-of-type {

    }
  }
  td {
    padding: 22px 0px 20px 12px;
    font-size: 14px;
    color: #242421;
  }
  .table_w_icon i{
    width: 10px;
    color:#918F8A
  }
}
.table_sportsman {
   font-family: BlissPro, sans-serif;
   //height: 104px;
   background-color: #fff;
   border-radius: 12px;
   th {
     padding: 30px 10px 22px 12px;
     color: #918F8A;
     height: 55px;
     white-space: nowrap;
     font-size: 14px;
     :first-of-type {

     }
   }
   td {
     padding: 8px 10px 8px 12px;
     font-size: 14px;
     color: #242421;
   }
   .table_w_icon i{
     width: 10px;
     color:#918F8A
   }
  button{
    font-size: 24px !important;
  }
 }
.sportsman_table_footer {
  font-size: 13px !important;
}