.xs-hidden{
  @media(max-width: 960px){
    display: none !important;
  }
}
.lg-hidden{
  @media (min-width:961px) {
    display: none !important;
  }
}
.ml-auto{
  margin-left: auto !important;
}
.has-updates-yellow{
  position: relative;
  &:after{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #ffea31;
    border-radius: 100%;
    top: -5px;
    right:8px;
  }
}
.border-bottom{
  &:not(:last-of-type){
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
  }
}