.xs-hidden{
  @media(max-width: 1023px){
    display: none !important;
  }
}
.lg-hidden{
  @media (min-width:1024px) {
    display: none !important;
  }
}
.ml-auto{
  margin-left: auto !important;
}
.has-updates-yellow{
  position: relative;
  &:after{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #ffea31;
    border-radius: 100%;
    top: -5px;
    right:8px;
  }
}